
*{
    font-family: 'Quicksand', sans-serif;
}
.font1{
    font-family: 'Rubik Iso', cursive;
}
.bggg{
    background: linear-gradient(139.62deg, #BB10FF 4.79%, rgba(84, 143, 255, 0.36) 47.39%, #02F7FF 92.74%);
}